<header class="site-header">
  <div class="header-container">
    
    <div class="header-logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Site Logo" class="logo-img">
      </a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="{{ '/kits/' | relative_url }}" class="nav-link">Kits</a>
        </li>
        <li class="nav-item">
          <a href="{{ '/about/' | relative_url }}" class="nav-link">About</a>
        </li>
      </ul>
    </nav>
    
  </div>
</header>